<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1064402716206-ie5dquvsi5amqquba7iu2hs4gg43plt5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1064402716206-ie5dquvsi5amqquba7iu2hs4gg43plt5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1064402716206-9763sqpqi1ubl060acfogpio3e9db6fo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAixlopactHDuwyfr-soyiYnUqiDlX0ngg</string>
	<key>GCM_SENDER_ID</key>
	<string>1064402716206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TuckerMillerDev.BowlingScoresheet</string>
	<key>PROJECT_ID</key>
	<string>bowling-scoresheet-f362a</string>
	<key>STORAGE_BUCKET</key>
	<string>bowling-scoresheet-f362a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064402716206:ios:06e90ec038920071</string>
	<key>DATABASE_URL</key>
	<string>https://bowling-scoresheet-f362a.firebaseio.com</string>
</dict>
</plist>